*.log
*.tlog
*.idb
ConsoleTetris/ConsoleTetris/Debug/vc120.pdb
*.ilk
ConsoleTetris/ConsoleTetris/Debug/stdafx.obj
ConsoleTetris/ConsoleTetris.sdf
ConsoleTetris/ConsoleTetris/Debug/ConsoleTetris.obj
*.suo
/VisualStudio2017Console/.vs
/VisualStudio2017Console/x64
/VisualStudio2017Console/VisualStudio2017Console/x64
/VisualStudio2017Console/Debug
/VisualStudio2017Console/VisualStudio2017Console/Debug
/UnderstandingFFT/.vs
/UnderstandingFFT/01 Numerical Differentiation/Debug
/UnderstandingFFT/02 Euler Constant/Debug
/UnderstandingFFT/03 Logistic Function/Debug
/UnderstandingFFT/04 Taylor Series/Debug
/UnderstandingFFT/05 Eulers Formula Cpp14/Debug
/UnderstandingFFT/05 Eulers Formula/Debug
/UnderstandingFFT/06 FFT/Debug
/UnderstandingFFT/Quaternions_Step02/Debug
/UnderstandingFFT/LinearAlgebra_Step05 Matrix2 Multiplication/Debug
/UnderstandingFFT/Debug
/CppUnderstanding/.vs/CppOcw/v15/Browse.VC.db
/CppUnderstanding/.vs/CppOcw/v15/ipch/AutoPCH/8f9b9a2a87302721/*.ipch
/UnderstandingFFT/desktop.ini
/desktop.ini
/CppUnderstanding/.vs
/CppUnderstanding/CppOcw/Debug
/CppUnderstanding/Debug
/CppUnderstanding/CppOcw/*.user
